html {
  min-height: 100%;
  position: relative;
}

body {
  height: 100%;
}

.navContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.navbarNav {
  position: relative;
  left: 0;
  width: 16.666667%;
}

.buttonToggle {
  position: relative;
  top: -41%;
}

#navbarToggler {
  position: relative;
  top: -39%;
}
